body {
    margin: 0 24px 0 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
.open-menu {
    display: none;
    width: 48px;
    height: 48px;
    grid-column: -1;
}


.header {
    display: grid;
    grid-template-columns: min-content 1fr min-content 1fr;
    /* margin: 16px 0 16px 0; */
    align-items: center;
    height: 80px;
}
.header nav ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 24px;
}
.header nav ul li {
    width: max-content;

    font-weight: 600;
    font-size: 24px;
}
.menu {
    grid-column: 3;
}
.header-logo {
    width: max-content;
    grid-column: 1;

    font-weight: 900;
    font-size: 32px;
}

/* 780px br */
@media (width < 800px) {
    .header nav ul {
        display: none;
    }
    .open-menu {
        display: block;
    }
}